<footer class="footer">
  <div class="container">
       <p class="navlogo" class="footer">
        POWERED BY 
    <img class="cclogo" src="/img/skynet_logo_white.png"> SKYNET 
      </p>  
      </div>
</footer>