<!-- views/deleteeuser.ejs -->
<!doctype html>
<!doctype html>
<html>
<head><% include /partials/head %></head>
<body><header> <% include /partials/header %> </header>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

  <h1><span class="fa fa-sign-in"></span> Create User Account</h1>

  <!-- show any messages that come back with authentication -->
  <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% } %>

  <!-- LOGIN FORM -->
  <form action="/createuser" method="post">
    <div class="form-group">
      <label for="accountname">Account</label>
      <select class="form-control" name="accountname">
        <% accounts.forEach(function(err, index) {%>
        <option value= '<%=accounts[index].accountname%>'> <%=accounts[index].accountname%> </option>
        <% });%>
      </select>
      <label for="roleid">Role</label>
      <select class="form-control" name="roleid">
        <option value='2'> User </option>
        <option value='1'> Administrator </option>
      </select>

      <div class="form-group">
      <label>E-mail Address</label>
      <input type="text" class="form-control" name="email">
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username">
    </div>

        <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Create User</button>
  </form>

  <hr>

  <p>Return <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
